[2015-10-19 20:02] terrysahaidak opened #1 "best redux example ever"
hey, @andrewngu, I really like work you've done with soundredux. it looks amazing!
do you have a plans to add some authentication and error handling to your app?
be cause if you'll add it, this is will be the best redux example ever!

[2015-10-19 20:04] andrewngu commented on #1
Thanks for the kind words Terry, I'm planning on adding full Soundcloud integration so that you'll be able to favorite songs, create playlists and play all your saved soundcloud playlists. Hopefully by this weekend or next :)

[2015-10-19 20:17] terrysahaidak commented on #1
Thank you for your work. I'll be waiting for that :)
This app is a kind of inspiration!

[2015-10-19 20:17] #1 closed

[2015-10-19 20:59] vkzawa opened #2 "Vendor prefixes"
Sweet project you have here. I really like the UI.

I noticed your layout is broken in Safari.
You can get a nice bump in browser support by including autoprefixer in your CSS output. It does all the work for you. :grinning:

Here's a link to autoprefixer for webpack:
https://github.com/passy/autoprefixer-loader

[2015-10-20 13:18] andrewngu commented on #2
Thanks for feedback @vkzawa , I've included autoprefixer as a loader in webpack. Please let me know if that resolves your issue. Also, I'm curious which version of safari you are using. I'm on 9 and don't see any layout issues.

[2015-10-20 14:34] #2 closed

[2015-10-20 20:42] joshthecoder opened #4 "Desktop App (Electron)"
I am personally interested in having a desktop version of this app.
You get some nice things like media button support (play, forward, backward).

Anyone interested? I can probably devote a bit of time adding in support.

[2015-10-20 23:38] andrewngu commented on #4
Sounds interesting! I haven't played much with Electron, so it could be fun.

[2015-10-21 02:07] joshthecoder commented on #4
Started working on it a bit here: https://github.com/andrewngu/sound-redux/pull/6
Very easy to just get the app loading into Electron shell. Added a few todos
that I will work on next. Feel free to chime in. :)

[2015-10-21 02:47] andrewngu commented on #4
Excellent! I'm excited to see this up and running.

[2015-10-22 14:51] alfonsoperez opened #7 "Play/Pause song by clicking in the logo"
Hi!,

Really cool app, been using it for a couple of days while working :-).
It would be nice to be able to play/pause a use by clicking in it's logo. Currently you can play it, but to pause you have to go to the player, I can submit a PR if I have some time later in the week if you find this appropriate.

[2015-10-22 14:58] andrewngu commented on #7
Thanks, glad you're liking it. Yah, I've been meaning to fix that, but just been putting it off. Feel free to take a shot at it :+1:

[2015-10-23 03:10] findjashua opened #8 "Add queueing functionality"
It'd be nice if there was a '+' button which would add the song to a queue.

[2015-10-23 03:33] andrewngu commented on #8
It's coming, lol

[2015-10-23 03:37] findjashua commented on #8
:+1:

[2015-10-23 03:39] findjashua opened #9 "add routing"
add some simple routing, i'm thinking something like `genre/songId`

if you think react router is too heavy, you could use something light like page.js or even just regex on `window.location.pathname`

[2015-10-24 01:33] andrewngu commented on #9
http://soundredux.io/#/songs/203112765 :smile:

[2015-10-24 11:34] terrysahaidak commented on #9
what about search params? for example soundredux.io/#/songs/?q=Affecting%20Dissent should display songs by Affecting Dissent

[2015-10-24 13:11] andrewngu commented on #9
good point, in progress

[2015-10-24 18:13] andrewngu commented on #9
http://soundredux.io/#/songs?q=Affecting%20Dissent :wink:

[2015-10-24 18:14] #9 closed

[2015-10-28 10:54] ZogStriP opened #14 "Ability to like tracks"
I listen to music all day and I always need new music. I discovered this project a week ago and I :heart: so much! Thanks a lot for it :+1:

Currently, the only feature I'm missing is the ability to like a track so that I can create a playlist of tracks I enjoy.

[2015-10-28 13:27] andrewngu commented on #14
Glad you're enjoying it. :)

Authentication with SoundCloud is on its way. Hopefully by the end of this week.

[2015-10-28 13:30] ZogStriP commented on #14
Awesome :+1:

[2015-11-01 15:52] #14 closed

[2015-11-02 10:13] ZogStriP commented on #14
You rock :metal:

[2015-11-02 16:39] andrewngu commented on #14
lol, thanks. lemme know if you notifce any bugs :)

[2015-11-06 02:24] WenXuanYuan opened #16 "Please upload the module "../components/SongCards"."
I am a fresher to redux, and I see this example in github, but when try to run my browser says 'Uncaught Error: Cannot find module "../components/SongCards"', I also can`t find SongCards component in master branch.

[2015-11-06 02:27] WenXuanYuan commented on #16
The model was import in components/Me.js && songs.js

[2015-11-06 02:43] andrewngu commented on #16
Can you try pulling origin master? Sorry about that, I renamed some components and switched up the file names.

[2015-11-06 03:04] WenXuanYuan commented on #16
I see, Would you give me the final version which can run of this project. I am a freshman and find this example is more cool.

[2015-11-06 03:10] WenXuanYuan commented on #16
Thank you , i have download the model successfully.

[2015-11-06 03:11] andrewngu commented on #16
:+1:

[2015-11-06 03:11] #16 closed

[2015-11-06 15:11] terrysahaidak opened #17 "normalizr question"
How did your reducer became looks like that?

[code]

Can you explain it with some examples, because i don't understand it :disappointed:

[2015-11-06 16:04] andrewngu commented on #17
Basically I followed the example here:
https://github.com/rackt/redux/blob/master/examples/real-world/reducers/index.js

I guess it looks strange because we're used to seeing a switch statement on the action.type in the reducer. This reducer basically looks for the entities property and does the same operation on the entities state (merging the new entities object), so it saves me from having to w

[2015-11-07 15:15] terrysahaidak commented on #17
thanks

what about schemas?

is it really helps you to do stuff easy to code?

[2015-11-07 15:44] andrewngu commented on #17
Yep, schemas are helpful and are needed when using normalizr.

Say I get an API response of songs that looks like this:
[code]
First I just need to define the song schema and the user schema
[code]
Looking at the API response, the user object is nested inside the song schema in the `user` property, so we need to update our songSchema
[code]
So now we can normalize the response
[code]
Say these are

[2015-11-07 16:31] terrysahaidak commented on #17
It's really helpful, now i unerstand it.
Thank you so much for your help man :)

[2015-11-07 16:31] #17 closed

[2015-11-07 16:39] andrewngu commented on #17
Cool! :+1: Glad I could help.

[2015-11-08 01:33] zwhitchcox opened #19 "Not an issue, but..."
Just wanted to say, beautiful app man. Really nicely done.

And you're just learning this? That's incredible. Very humbling to me.

[2015-11-08 04:19] andrewngu commented on #19
Thanks for the kind words :smile: This app is more of a testament of how much you can get done when you have stellar tools.

This was the first project where I've used Redux and ES6, so that experience was new to me, but they're both awesome tools that made things much easier and a lot more enjoyable. Don't be so impressed, it's mostly CSS :wink:

[2015-11-08 04:41] fraserxu commented on #19
@zwhitchcox Agree! This is really nice written code! Learned a lot!

Thanks @andrewngu !

[2015-11-08 06:01] andrewngu commented on #19
Happy to hear you're learning something from it!

[2015-11-08 13:11] nxnfufunezn commented on #19
use it everyday..good work mate.. :+1:
waiting for desktop app..

[2015-11-08 13:57] terrysahaidak commented on #19
Just want to ask:
Can i use your awesome player component in my own open source project?

[2015-11-08 14:05] Revod opened #20 "Add License"
Awesome project. Add the license of you project please, with the license the user know the limit usage of the repo, etc :100:

[2015-11-08 16:35] andrewngu commented on #20
Good idea, :+1: Went with GPL

[2015-11-08 16:35] #20 closed

[2015-11-08 16:36] andrewngu commented on #19
@terrysahaidak Go for it. This project uses the GNU GPL so feel free to use it in any open source project. :+1:

[2015-11-09 17:25] terrysahaidak commented on #19
thank you for your work!

[2015-11-09 17:48] ZogStriP opened #23 "Better way to show currently playing song"
While the current UI is very nice I find it has 1 drawback: being able to **quickly** identify which track is currently playing...

_Can you find which track is currently playing in less than 5 seconds?_
![which one is currently playing](https://cloud.githubusercontent.com/assets/362783/11041394/e059f974-8711-11e5-8f8d-2572493b6636.png)

Maybe changing the background of the track to a green-ish co

[2015-11-09 17:53] andrewngu commented on #23
Good point, been thinking about this for awhile. I tried the green-ish background color, but wasn't happy with the way it looked. I was also thinking some sort of visualization might be nice.

[2015-11-09 17:54] ZogStriP commented on #23
Mind explaining what you mean by "some sort of visualization"?

[2015-11-09 17:56] andrewngu commented on #23
http://jeffpeterson.github.io/music/
something like this or with waveform bars.

[2015-11-09 18:00] ZogStriP opened #24 "Automatically load next tracks"
It would be awesome for the player to automatically load the next page of tracks when it's playing one of the latest currently loaded tracks. Currently, it either stops, or loops back to the first loaded track.

_Note: this doesn't (and shouldn't) have to work in random mode._

[2015-11-09 18:01] andrewngu commented on #24
Really good idea!

[2015-11-09 18:03] ZogStriP commented on #23
Ok. I personally have no use for that but if you feel like adding it, no biggie ;)

[2015-11-09 18:04] andrewngu commented on #23
I think if the card had moving bars over it's artwork, while it was being played, it might be easier to spot it. I'll try it out and we can see if that solves the problem :wink:

[2015-11-09 18:05] ZogStriP commented on #23
Oh, I see what you mean. Yeah I think that could work :+1:

[2015-11-11 18:51] terrysahaidak opened #26 "Adding more genres"
What about adding more genres? It could be like first i choose something like rock, metal, trance etc, and then indie-rock, alternative, pop-rock etc.

[2015-11-12 00:00] andrewngu commented on #26
Good idea! I'm coming up with a way you can select your genres, maybe even custom ones...

[2015-11-12 15:49] #7 closed

[2015-11-14 01:51] synthomat commented on #19
@andrewngu great work and a good source of inspiration :)

Question: why did you create "Containers" which aparently just wrapp connect() around other components? Just to decouple the "dumb components" from the redux-framework?

Thanks!

[2015-11-14 02:26] andrewngu commented on #19
Yeah, I created those containers to avoid having to write my mapStateToProps functions twice, since both the mobile components and their non mobile counterparts require the same props. There probably is a cleaner way to do it, however.

[2015-11-14 02:46] andrewngu commented on #19
Also, using containers can prevent unnecessary re-renders and makes your code a bit more organized. Consider this render function
[code]
compared to this
[code]
Which looks cleaner and easier to reason about? Also, keep in mind that any update to any of those props in the second render function will cause a re-render for ALL of the components. That could be solved by `PureRenderMixin` but still...

[2015-11-14 12:21] terrysahaidak commented on #19
@andrewngu what about something like [this](https://gist.github.com/acdlite/453f227f5e5cbbf105f8)?

[2015-11-14 14:55] andrewngu commented on #19
Yep, that's a good idea. Wrapping your components with higher order component with PureRenderMixin would definitely improve performance. Also using Immutable.js would make it fly.

[2015-11-14 15:37] terrysahaidak commented on #19
@andrewngu also you should look on [this](http://joshbroton.com/hooking-up-to-the-window-onscroll-event-without-killing-your-performance/) to improve better performance of your skickify higher-order component, because it's really laggy (in my case).

[2015-11-14 16:40] andrewngu commented on #19
Thanks @terrysahaidak I've been meaning to fix that. Not sure if the lagginess is because of the actual scroll event firing too often or if it's related to the dom element getting the `position: fixed` setting...

[2015-11-19 16:24] ghondar opened #29 "add arrow keys for next and previous track"
I feel that it is more intuitive to use the right and left arrows to change the music, are mostly used in the majority of players.

I was watching that using keypress and therefore cannot capture the arrows key events. I see that you use keypress instead of keydown therefore can not capture the events of the arrows.

Another solution would be to use [mousetrap](https://craig.is/killing/mice) for k

[2015-11-19 18:08] andrewngu commented on #29
Makes sense :+1: Although I would prefer just using keydown instead of bringing in another library.

[2015-11-20 16:35] ghondar commented on #29
OK, I already have a pr by adding arrows events using keydown, also i added notifications to deezer style, in case you're in another tab.
![Notification]
(http://i.imgur.com/1j5vlMA.png)

[2015-11-20 16:40] andrewngu commented on #29
Cool, but I'd prefer to have the notifications be a setting that users opt into. It'd be annoying if I suddenly started getting notifications without an explanation. What do you think?

[2015-11-20 16:50] ghondar commented on #29
of course, the first time load you page, ask if you want to receive notifications

[2015-11-20 17:31] ghondar commented on #29
Google will manage notifications

![Notification Manager]
(http://i.imgur.com/jyNPJnR.png)

[2015-11-20 17:35] andrewngu commented on #29
Sounds good. I just remember turning on notifications for a website one time, not knowing exactly what would happen (new news articles) and got super annoyed. Is it possible to describe exactly what the notifications will do when asking for permission?

[2015-11-20 18:45] ghondar commented on #29
I think that it's not possible,When you run Notification.requestPermission, it only shows a popup saying: "https://soundredux.io" wants to show notifications -> Block or Allow.
[requestPermission](https://developer.mozilla.org/en-US/docs/Web/API/Notification/requestPermission)
![request]
(http://i.imgur.com/d5dSi3V.png)

[2015-11-23 19:38] gusaiani commented on #19
Hi Andrew,

I second everybody here in thanking you for this app...it’s beautiful, extremely instructive, very nice work.

I also have a question:
in `actions/playlists.js`, you explicitly import `isomorphic-fetch`.
in `actions/authed.js` and other actions, you don’t import `isomorphic-fetch`.
That got my head scratching: how can all the fetches run in their files without imports? Are they injecte

[2015-11-23 19:42] terrysahaidak commented on #19
@gusaiani because there are already imported some polyfils in [main.js](https://github.com/andrewngu/sound-redux/blob/master/scripts/main.js#L1).

[2015-11-23 19:45] andrewngu commented on #19
Hey @gusaiani Thanks for the kind words.
If you look at the `isomorphic-fetch` repo, when you import the library, it overwrites `global.fetch` if it's undefined.

https://github.com/matthew-andrews/isomorphic-fetch/blob/master/fetch-npm-node.js

You're absolutely right, the import from `actions/playlists.js` can be removed.

[2015-11-23 20:01] gusaiani commented on #19
@terrysahaidak @andrewngu
Thanks :)

[2015-11-24 21:09] gusaiani commented on #19
Hi @andrewngu,
I started running the application locally again, after a few days.
When I login to Soundcloud and/or hit 'Connect', the SC popup never closes, and my console shows:

![image](https://cloud.githubusercontent.com/assets/380816/11380673/a77af24c-92de-11e5-95a5-d0cb86beb6a4.png)

Has that happened to you? Any idea what it might be?
Many thanks!

[2015-11-24 21:38] andrewngu opened #34 "Starting Go server"
@gusaiani Creating a new issue here so we can avoid spamming a few people. To answer your question about auth, it's actually being handled using a go server (which is in the same repo in the `server` folder). To get auth running locally you need to compile the go app and run it.

If the `sound-redux` folder is in your `$GOPATH` you can just do this
`$ cd server`
`$ go get .`
`$ go install .`
`$ se

[2015-11-24 22:22] gusaiani commented on #34
Thank you once again, Andrew. :)

[2015-11-25 00:04] andrewngu commented on #34
no problem, let me know if you have any other issues :+1:

[2015-11-25 00:04] #34 closed

[2015-12-06 22:26] wub commented on #29
What a few sites do, when they want to enable notifications, is have an "Enable notifications" checkbox/button underneath a paragraph or two explaining exactly what and why, in some kind of settings area.

It gives them an easy way to turn them on and off, and lets them know what it'll do.

[2015-12-06 22:28] wub opened #38 "When "Load new songs" is clicked, starts playing song in current position"
1. Start playing any song in your Stream - take note of its position ("playing-position")
2. Wait for "Load new songs" to come up - click it
3. The new song will be added to the feed, and now the song in playing-position is played - not the "current" song

I'd have a look at this but too busy ATM!

[2015-12-06 22:31] wub commented on #29
Also, for those who don't know - <kbd>shift</kbd> + <kbd>&larr;</kbd> / <kbd>shift</kbd> + <kbd>&rarr;</kbd> will go back and forth between songs, just like SoundCloud!

[2015-12-08 21:32] zzz6519003 commented on #19
just wanna say i just `brew isntall go`

and i get myself fucked up with go path XD....

can you please tell me what to do next, specificcly?
 :beer:

[2015-12-09 16:09] napcae commented on #19
@zzz6519003 what do you want to achieve?

[2015-12-09 16:12] andrewngu commented on #38
Yah, I've been aware of this, but also been busy with work. Hoping to have some time soon to fix.

[2015-12-10 06:28] zzz6519003 commented on #19
setup the enviroment XD

[2015-12-19 20:48] #19 closed

[2015-12-22 21:18] NameFILIP opened #41 "Always show a vertical scrollbar"
The app jumps to the side when the data is loaded and the scrollbar is shown. It can be resolved by always showing the vertical scrollbar. Just add `overflow-y: scroll;` to the `body` or something similar.

[2015-12-23 13:56] franvarney opened #42 "Last.fm login + scrobbling"
Hi @andrewngu! Would you be interested in including Last.fm into your application?

I had a similar (but barely coded) idea to sound-redux but the intention with mine was to be able to scrobble from likes or playlists to Last.fm since the Scroblr browser extension is always broken. It makes more sense, now that I found this project, to contribute to what seems to be a great application already and

[2015-12-24 19:46] gaearon commented on #42
That would be rad IMO.

[2016-01-04 05:37] andrewngu commented on #42
Sounds like a great idea! I originally had very ambitious plans for SoundRedux, like group listening (similar to turntable.fm), recommendations, playlists, etc. But it all fell by the wayside since things got kinda crazy with work. Feel free to take a shot at Last.fm integration and let me know how I can help!

[2016-01-05 01:56] franvarney commented on #42
@gaearon Thanks for the support :)

@andrewngu I completely understand. I have been and will be pretty busy, too, but I desperately want to scrobble tracks from SoundCloud so I will be more motivated to fit this task in whenever I can. :)

[2016-01-06 18:48] primazp opened #43 "Suggestion: save volume value to localStorage"
Right now volume retains its value to 100% after page refresh. Would be nice to remember the previous volume level. If it is okay I may take this issue

[2016-01-06 19:49] andrewngu commented on #43
sure go for it :+1:

[2016-01-08 16:44] #43 closed

[2016-01-13 08:00] sdtsui opened #46 "[Bug] TypeError onload"
http://puu.sh/mtWvE/bef03bb6b7.png
Seen on both desktop and mobile, while authenticated.
Does not occur when un-authenticated.

Haven't had a chance to look at the code, but should be minor. Useful fix?

[2016-01-13 21:53] andrewngu commented on #46
Ooh, good catch. There have been a few changes to the SoundCloud api recently. I'll take a look. Thanks!

[2016-01-17 03:42] sdtsui opened #47 "[Mobile Feat] Authentication?"
Heyo. I think it's awesome that this webapp is complete enough that I can start a song on mobile, continue working, and forget that I'm not even using the native app.  Great work!

I don't see a way to log in from the mobile. Can you confirm this?
If so, I'm also learning React/Redux, and interested in implementing. (See my other issues for other requests)

[2016-01-17 03:44] sdtsui commented on #46
No problem!

I wouldn't mind taking this ticket if you haven't already. See #47.

[2016-01-17 03:45] sdtsui opened #48 "[Mobile Feat] Back/Forward Notifications"
Same idea as #47.

Web-mobile app currently has a play/pause button in the notification. Would a play/back button, like on the native app, be useful? If so, I am  interested in implementing.

Thanks!

[2016-01-18 23:40] andrewngu commented on #46
Sure thing, go for it! I need to show this thing some love, but I've been slammed with work at the moment.

[2016-01-18 23:42] andrewngu commented on #47
Yeah, there is currently no way to authenticate with mobile. I'll admit that mobile was somewhat of an after thought, but I started noticing a lot of traffic on mobile and threw something up super quickly and half assed. If you're interested in implementing, feel free to take a shot at it.

[2016-01-31 15:47] leocavalcante opened #49 "Plans for GraphQL?"
Awesome sample project. Would be really nice to see GraphQL playing around with cool kids React and Redux. Any plans?

[2016-02-03 06:57] mansour-ahmed commented on #26
Hello @andrewngu , I came across this app and i kind of like it! would like to help out with the implementation of new genres! have you already been working on something? where can I start from?

[2016-02-03 10:23] mansour-ahmed opened #50 "Styling issue - text out of its container"
![screenshot from 2016-02-03 12-22-07](https://cloud.githubusercontent.com/assets/12623964/12779463/bee44da6-ca70-11e5-8d78-317394ac6816.png)

it should be simple to fix it, I could help out when I have the time.

[2016-02-03 14:39] andrewngu commented on #49
Thanks for the compliment. At this point I have no plans of integrating GraphQL, even though I know it's the new hotness. The Soundcloud API has been pretty great. Sorry dude!

[2016-02-03 14:39] #49 closed

[2016-02-06 14:04] mansour-ahmed commented on #47
@sdtsui Have you started working on this issue already? i would be glad to implement that

[2016-05-17 17:41] steven-haddix commented on #50
Just looked at this. The user profiles (Facebook, Instagram, twitter links) are pushing out the inner div of the text description. You can either add a flex attribute to the user profile container or take a different design approach.

[2016-06-01 10:48] DanPhyxius opened #57 "Error on npm install command"
Hi guys!

congrats, nice job with this repository!
I'm studying Redux/React and i'm trying to install your project locally, but i get an error on
npm install command.

<img width="716" alt="schermata 2016-06-01 alle 12 40 40" src="https://cloud.githubusercontent.com/assets/4693301/15707082/00d974e6-27f7-11e6-87a0-15eb55081034.png">

It seems is fault of eslint version. Can you help me?

Thanks to

[2016-06-05 15:52] andrewngu commented on #57
Hey @DanPhyxius, I just updated the packages. Try removing your `node_modules` folder and running `npm install` again and let me know if you run into any issues.

[2016-06-13 15:42] tleb opened #58 "Scrollable likes"
The stream is scrollable and musics load in when the bottom of the page is reached. Could this behaviour be added to likes?

I have more than 750 likes and when I go back in my like history, the official client lags. SoundRedux is a lot more efficient as it doesn't load a player for each track, I have noted this with the stream tab.

I have looked a bit at the code but I can't seem to orient mysel

[2016-07-17 15:01] dimagimburg opened #59 "Fade in/out when changing songs"
Hey dude, great work there! Is it on the stack to do a fade in/out feature for changing songs?
if not i would happy to maybe try contribute this kind of functionality :)

[2016-07-22 16:29] handane123 opened #60 "CHANGE_TYPES.PREV is not defined?"
file: scripts/constants/SongConstants.js

[2016-07-22 16:33] handane123 opened #61 "Mistake in line 6 of script/component/Followings.js"
Line 6 should be replaced with  **dispatch:  PropTypes.func.isRequired,**

[2016-07-22 16:35] handane123 opened #62 "Mistake in styles/custom/components/comments.scss"
**.comments-body** is no-used,  which should be deleted.

[2016-07-22 16:38] handane123 opened #63 "Mistake in line 21 of scripts/components/NavSearch.js"
Line 21 should be replaced with **document.removeEventListener('keypress', this.handleSlashPress, false);**

[2016-07-28 18:27] BlueAccords opened #64 "API key exposed, reverse proxy needed?"
Are you planning on adding a reverse proxy of some sort to forward your soundcloud api requests to?

Or is it a non-issue since this project was meant to be a non-trivial educational project at learning react/redux?

I'm asking since i'm trying to do a similar project but I'm getting caught up on trying to not expose the api key myself.

[2016-08-31 21:38] wub commented on #29
@andrewngu Should this be closed now?

[2016-08-31 21:49] #63 closed

[2016-09-02 03:11] susanbhattarai commented on #4
How is the development of the desktop version going on?

[2016-09-02 18:41] jinxac opened #69 "Query regarding syntax for creating store using redux-thunk"
I was trying to understand the code of `sound-redux` app. First of all I must amazing work and very clean code.

I was able to get most of the code but I had a doubt regarding the way the store was created.

From the code I can see the following:-

[code]

But after going through redux-thunk documentation I tried implementing it as mentioned in the way it  was in the documentation. So I tried foll

[2016-09-04 06:08] andrewngu commented on #69
To be perfectly honest, I think the redux api may have changed a bit since I started this project and may have been following an older example. A similar issue was discussed in the redux repo:

https://github.com/reactjs/redux/issues/1236

[2016-09-06 19:15] sadovnik opened #70 "Start script fails"
Output:
[code]
Any ideas?

[2016-09-06 19:20] andrewngu commented on #70
Looks like you currently have something running on port 8080?

[2016-09-06 19:24] joshthecoder commented on #4
I haven't had any time to really work on it further. If someone wants to pick up where I left off that would be cool.

[2016-09-06 19:26] sadovnik commented on #70
Oh, that was stupid of me. Sorry!

[2016-09-06 19:26] #70 closed

[2016-09-06 19:27] susanbhattarai commented on #4
Would love to pick it from where you left.

[2016-09-17 21:11] #60 closed

[2016-09-17 21:15] #62 closed

[2016-09-17 21:26] #57 closed

[2016-09-17 21:26] #69 closed

[2016-09-17 21:28] andrewngu commented on #64
Since the project is mostly educational, I don't see any issues exposing API key. Especially since it doesn't nearly approach the rate-limit.

[2016-09-17 21:28] #64 closed

[2016-10-13 03:29] ryannealmes commented on #17
Could you perhaps elaborate on the importance of the result array returned by normalizr? Why does it only return the ids of the parent object and not the other entities nested inside it? For example in your case you have songs and users, but it only returns the ids of your songs in the result array. It doesn't have for example an object with the list of ids for each entity in your data structure.

[2016-10-13 05:07] ryannealmes opened #75 "Query on reducer/store structure"
How do you decide whether or not to nest data in your store. For example you have a [player](https://github.com/andrewngu/sound-redux/blob/master/scripts/reducers/player.js#L3) that stores information like the song that's currently playing, current time, selected playlist.

This makes sense, but from pretty much everything I have read and listened to, you should keep your data as flat as possible.

[2016-10-13 15:12] andrewngu commented on #17
Say we have two playlists. Which approach seems more efficient?

[code]

And this approach, using normalizr:

[code]

In the first approach, we have objects defining the same song (since they appear in two different playlists)--as well as multiple objects defining the same user.  In the second approach we have a single source of truth in describing each song / user.

Not only is the second approac

[2016-10-13 15:23] andrewngu commented on #75
Keeping your data flat makes sense for trivial example projects, but doesn't make sense for bigger projects. It seems unreasonable to have a reducer file for every variable in your application state. It's more practical to group related data, not only because mental model of your application easier to reason about, but because there are actions that might update multiple parts of your reducer.

Fo

[2016-10-13 15:32] andrewngu commented on #75
To answer your question about the use of server data as `entities`. That is definitely not a hard and fast rule. You should place objects in `entities` if they are things that might appear in more than one place.

For example, the same song might appear in multiple playlists or even a search query. A user might be the author of multiple songs or make multiple comments.

An example of server data t

[2016-10-14 01:44] ryannealmes commented on #17
Ye this makes 100% sense. My question was more around the implementation of normalizr I guess.

If you look at the example from the normalizr documentation below

[code]

The final object returns a list with article ids. What is the point of that array? And why does it only have reference ids to the articles and not the users or collections. Maybe it's a none issue that lists of the other ids have

[2016-10-14 01:45] ryannealmes commented on #75
Great this write up makes sense. I guess I just need more practice with it :)

Thanks again. Your repo is super helpful to everyone. Haha must be fun to code in react/redux on a music player you wrote yourself in react/redux.

[2016-10-14 14:26] andrewngu commented on #17
The result array refers to the playlist, which is an ordered list of songs. Let's say I have a `Playlist` and when I render this list of songs I'd like to maintain the order. I would use that array to render my songs, while referencing the `entities` object.

[code]

[2016-10-18 04:25] carloscuatin opened #76 "Refactor: remove cookies and replace for localStorage"

[2016-10-19 02:49] ryannealmes opened #77 "Sharing songs"
Since I have been using your app I thought I would request an enhancement. There doesn't seem to be a way to share songs you are currently listening to. Would be awesome to have a quick copy to clipboard link so I can drop it on my slack channels :)

I could be missing this somewhere!

Thanks.

[2016-11-25 09:25] vsc-github opened #79 "Error: Cannot resolve module 'react/lib/ReactMount'"
Such a nice open source project.
I just cloned the repo. Did an ```npm install``` , then ```npm start```.
When I go to ```http://localhost:8080``` , I get this error in browser console

and this error in the command line console for all the js files:

I tried looking over stackoverflow and google, people have suggested changing the version of react dependencies. But it didn't help. Is there any ot

[2016-11-26 19:34] iHelos commented on #79
Hey, just solved the same problem for me:
1) set the last version of "react-hot-loader" in package.json:
`"react-hot-loader": "^3.0.0-beta.6",`
2) in webpack.config change "react-hot" with "react-hot-loader/webpack", so you'll get something like this:
`{ test: /\.js$/, loaders: ['react-hot-loader/webpack', 'babel?' + JSON.stringify({presets: ['react', 'es2015', 'stage-0']})], exclude: /node_module

[2016-11-30 21:46] danep93 commented on #24
Is anyone working on this? I'd like to this up

[2016-12-01 15:46] andrewngu commented on #24
@danep93 feel free to take a shot at it 👍

[2016-12-12 16:37] jackey commented on #59
@dimagimburg hi, although i'm not this project author but looking for your fade in / out functionality :) .

Please don't forget sharing it

[2016-12-18 11:29] dimagimburg commented on #59
well I've worked on it for a while, got something working but still not good enough, you could hear some  latency in the track switching, but I had to leave it for now, so I hope I'll get to it asap.

[2016-12-23 07:19] bernardbolter opened #80 "hot-loader"

[2017-02-07 21:56] kostia-lev commented on #77
added a pull request for this feature request

[2017-02-08 02:12] kevin-chau opened #85 "Search For User"
I know you can search for song, but is there a way to search for a user? I think this is equivalent to querying for `people` on soundcloud.com

ex:
https://soundcloud.com/search/people?q=TeamVisionary

[2017-02-16 01:47] MiniPekka opened #87 "Add text description to repeat and shuffle button"
User may not know what that button do, adding a hover description would help.

[2017-03-10 00:44] marceloogeda opened #89 "Unexpected Token Import for ES6 modules"
Firstly, I installed: `yarn install`.

When I ran `yarn test` I get this error in terminal:

I saw that you doesn't have configured preset in a file like `.babelrc` or `package.json`.

I'm making a pull request to fix this.

[2017-03-18 19:43] #89 closed

[2017-04-10 17:14] bschlenk opened #91 "Use mapDispatchToProps in react-redux#connect"
Instead of relying on the implicit dispatch prop being passed from a container to a component, utilize mapDispatchToProps to automatically bind actions to dispatch. For example, in [PlayerContainer](https://github.com/andrewngu/sound-redux/blob/master/scripts/containers/PlayerContainer.js):

[code]

becomes

[code]

And then inside [Player](https://github.com/andrewngu/sound-redux/blob/master/scri

[2017-04-14 15:43] frontmaker opened #92 "[GO SERVER]"
OS: Windows 7

After running server I get  **`[error] open html/callback.html: The system cannot find the path specified.`** when trying to auth on the client.

[2017-04-14 20:12] andrewngu commented on #92
I believe this may happen if you try to run the binary from the wrong location. You may have to run the go program from the ./server folder.

[2017-04-15 16:14] frontmaker commented on #92
I don't have any experience with Go.
Can you tell me what I need to do in order to launch the server?

[2017-04-18 07:03] maratgaip opened #94 "use modal"
not issue but i have a questions. how am gonna use modal? for example i want to change sign-in button and open modal when it's clicked.
i don't need to import modal component because it's already imported right?
should i pass to redux or ?

thanks in advance.

[2017-04-18 14:20] andrewngu commented on #94
use `dispatch(openModal('someIdentifier'))`

then in `Modal.js`, add another case block in the switch-case statement.

[code]

Let me know if this makes sense.

[2017-04-29 03:24] RenaudROHLINGER opened #98 "Interface concept"
Hey ! Was really enjoying your project and I was asking myself how cool it would be to custom the interface based on the song picture (Pretty much like iMusic). So I imported the lib "Vibrant.js" and created a fully customed player based on the song picture. Would you be interested if I was keeping updated your interface or should I just stay on my forked branch ?

Example :

![image](https://clou

[2017-06-05 08:38] chenkang084 opened #102 "NavSearch"
when you input some text ,it can run well .but ,when you clear the text ,it can reset search result.

[2017-06-08 00:44] savybrandt commented on #85
Looks like if you type a user into the search it does give you all that users songs

[2017-06-12 16:16] sianokotoba commented on #85
![screen shot 2017-06-12 at 12 12 54](https://user-images.githubusercontent.com/17129611/27043628-c16659b0-4f68-11e7-9f46-43134850b2ea.png)
Looks like this is a general search and returns all playlists including the queried text and the playlists created by the queried user.
Would you rather have the results filtered to only users?

[2017-06-14 21:16] MiniPekka opened #103 "[Bug] Not being able to fetch more songs"
Not being able to scroll to fetch more songs when the height of the content is too short. My solution is to extend the min-height of the content to make sure there is always some space to scroll.

<img width="1252" alt="screen shot 2017-06-14 at 1 24 22 pm" src="https://user-images.githubusercontent.com/15867071/27155019-09217164-510c-11e7-9ce5-00550cddc94c.png">

[2017-06-16 17:15] MiniPekka opened #105 "[Improvements] Fadein images"
I think it could be a great improvement to make the image to fade in after they are loaded. Here is a demo: https://sound-redux-fadein-image-demo.herokuapp.com/

I'll create a pull request if you guys like it.

[2017-06-19 05:34] 4p opened #106 "Uncaught ReferenceError: webpackJsonp is not defined at main.js:1"
Hello,
Once the project is build & when i want to serve it i got this error.

I'm using
➜  public npm -v
5.0.3
➜  public node -v
v6.10.2

Packages was installed via yarn so i don't think i got modules versions error.

Vendor cannot be loaded ?

[2017-06-23 20:13] #106 closed

[2017-06-29 03:30] himsoftware opened #107 "How to set sound-redux folder in GoPath"
Hi,
First thanks to you to share such wonderful project with github community user.I have run your code on my local system without any error.But I am getting confused with while creating sound-redux folder in $GOPAH
.I am sharing my directory structure with you.
C:\Go\src\path\sound-redux Is it right place to create sound-redux folder. I want to contribute on your project.If possible then please p

[2017-06-29 03:36] andrewngu commented on #107
Thanks for the nice words.

The folder structure for go projects is usually `$GOPATH/src/<host>/<user>/<project>`
Assuming your $GOPATH is C:\Go, yours would look like

`C:\go\src\github.com\andrewngu\sound-redux`
Hope that helps

[2017-07-06 01:55] yxuecheng commented on #70
how to fix

[2017-07-06 08:53] sadovnik commented on #70
@yxuecheng use different port or free up `8080`.

[2017-07-06 10:06] yxuecheng commented on #70
yes，you are right ，thankyou。

发自我的 iPhone

[2017-08-11 02:21] coryhouse opened #109 "ERR_EMPTY_RESPONSE"
I get an empty response after following the set up steps:
1. npm install
2. npm start
3. Load localhost:8080

Am I missing something silly?

Node 8.2.1
npm 5.3.0
I'm on Macbook Pro Touchbar, latest OS updates.

[2017-08-11 14:00] andrewngu commented on #109
strange, i have the same node / npm versions as you and it worked on a clean clone for me. try removing your `node_modules` folder and using `yarn install` instead of `npm install`.

[2017-08-12 00:02] coryhouse commented on #109
I've tried both npm and yarn. Deleted node_modules before each try. Stumped.

[2017-09-06 07:53] MilanPavel commented on #109
I have the same issue, tried with both npm and yarn install. Any idea? (MacOS, Node 7.0.4, npm 4.0.5)

[2017-09-06 13:41] utrolig commented on #41
This can also be fixed by adding paddingRight with the scrollbars width when hovering over the comments section.

SidebarContent.js
[code]

I'm guessing there was a reason he chose to remove the main scrollbar when hovering over the comments / sidebar section, and this keeps that functionality intact.

[2017-09-07 13:37] MilanPavel commented on #109
There seems to be some problem with localhost on my Mac. As a workaround when using 127.0.0.1 in URL instead localhost and also updating webpack.config.js it works.

change in webpack.config.js:
  output: {
    publicPath: 'http://127.0.0.1:8080/'

[2017-09-07 15:42] andrewngu commented on #109
Ah, that makes sense. Perhaps it's an mac osx setting that prevents binds on 0.0.0.0, which I used to test on a mobile device. Thanks for figuring it out.

[2017-09-09 06:59] #105 closed

[2017-09-11 17:41] dinarAkv opened #119 "Create telegram group and include it in .md file for discussion."
Hello,

I think it will be more convenient to quickly discuss some issues in some chat as telegram group.
And after that will add reference to it in README.md file. What you think about it ?

[2017-09-11 18:24] dinarAkv commented on #119
I can do it.

[2017-09-17 21:09] metju90 commented on #103
Is the console log showing any errors?

[2017-09-20 20:30] MiniPekka commented on #103
@metju90 Sorry for the late reply, no there is no error in the console, this happens because the content is too short for the scroll bar to show thus not triggering the fetch more song hook.

[2017-09-24 05:47] uiuxguy opened #122 "getPlaylist initialized in UserSelectors.js:7 and SongSelectors.js:27"

[2017-09-26 08:41] #119 closed

[2017-09-26 08:53] dinarAkv opened #123 "Player of sound-redux not work in localhost (http://localhost:8080)"
Hi,
I cloned project and run it. Than I opened sound redux page in http://localhost:8080.
When I try to listen one of track player didn't work. Player also didn't work with other tracks.

Is it bug or I haven't done some prerequisite ?

[2017-09-26 13:00] dinarAkv commented on #123
I found the reason of problem. It is too much requests from CLIENT_ID of this repository. If too much requests server of soundcloud response with 429 error.

[2017-09-26 13:02] #123 closed

[2017-09-28 08:17] #122 closed

[2017-09-28 08:17] uiuxguy commented on #122
I'm an idiot.

[2017-10-17 12:35] uiuxguy opened #126 "Smoother stickyOnScroll...?"
This way the wrapper spaces out the height of the inner component, so there's no snapping:

[code]

[2017-10-31 13:51] cichy opened #127 "Uncaught (in promise) DOMException: Failed to load because no supported source was found."
It worked fine yesterday today I'm getting this don't know why.
Chrome version: 61.0.3163.100
MacBook Pro (Retina, 13-inch, Late 2013)
2,4 GHz Intel Core i5
8 GB 1600 MHz DDR3
os: high sierra

This may help
https://developers.google.com/web/updates/2016/03/play-returns-promise?hl=en

[2017-10-31 14:24] andrewngu commented on #127
I believe playback is failing because the api key that is provided with the repo has reached its playback limit. I should probably handle this error more gracefully. If you check the network tab while trying to play a song you might see a `429 too many requests` error.

[2017-10-31 14:40] #127 closed

[2017-11-08 19:28] tryzniak opened #128 "Songs won't load"
Seems like something has changed in Soundcloud API . For example https://api.soundcloud.com/tracks?linked_partitioning=1&limit=50&offset=0&client_id=e582b63d83a5fb2997d1dbf2f62705da&tags=tech%20house returns 401 (Unauthorized).

[2017-11-08 19:35] andrewngu commented on #128
Yeah, unfortunately, Soundcloud revoked the api keys without any warning or explanation. I've tried bugging them about it but they haven't gotten back to me yet.

https://twitter.com/SCsupport/status/926407470813274114

[2017-11-12 01:42] ajay2507 commented on #8
@andrewngu  Is it fixed??. Can I take this issue??

[2017-12-03 17:34] byRulox opened #129 "Songs won't load"
the songs are not loaded in local host

[2017-12-04 09:58] tryzniak commented on #128
Hey, @andrewngu . I've kind of investigated what's preventing songs from loading. Your dev client_id was indeed revoked, but the prod key is still working! You can see it's working by going to soundredux.io in private mode. Why's it working in private mode and not in normal? Probably it has something to do with cache busting. If I go to Chrome's DevTools > Application > Clear storage and clear sto

[2017-12-05 20:50] #129 closed

[2017-12-13 11:47] #79 closed

[2017-12-15 19:38] gabrielperales opened #130 "Doing a clone in Elm"
Hi, I just wanted to tell you that I'm coding a clone of your app in Elm. I'm horrible designing stuff, so I took your design as a _base_. I hope you don't mind it...

I have to add a reference to this repo, and I'll do it when the project is more complete. If you want to check it out, [here](https://github.com/gabrielperales/elm-soundcloud-player) is the repo.

Thank you.

[2017-12-15 20:24] andrewngu commented on #130
No worries, sounds like a cool project.

[2017-12-15 20:54] #130 closed

[2017-12-16 23:53] SiOuz opened #131 "error when i try to sign into soundcloud"
"invalid_client: The configured redirect_uri of the client application is invalid."

url : https://soundcloud.com/connect?client_id=89ae6050d2fb321d2ac9be2e2d822596&display=popup&redirect_uri=https%3A%2F%2Fsoundredux.io%2Fapi%2Fcallback&response_type=code_and_token&scope=non-expiring&state=SoundCloud_Dialog_10d89

[2017-12-23 18:18] chinmaydalvi opened #132 "Music List is not loading on Production"
Music list is not loading on live website `https://soundredux.io/#/`. Server is sending an error 404 not found. Attaching the screenshot of console. Not sure if is this Client_key issue as mentioned earlier #129

![no_music](https://user-images.githubusercontent.com/14978241/34321689-6e8d4eb2-e83b-11e7-80a4-fb73c3ad0fdf.png)

[2017-12-24 16:34] gEndelf commented on #132
It seems API was updated

[2018-01-11 10:40] AmitMundra54 commented on #79
thanks, buddy it worked for me

[2018-03-02 00:13] anthonybrown commented on #132
is anyone working on resolving this?

[2018-05-17 20:16] VaderOG opened #133 "Automatically create area bag when creating a new area"

[2018-08-04 14:56] pavelkeyzik commented on #131
I was redirected to the localhost link, after the click to sign in button.

![image](https://user-images.githubusercontent.com/17102399/43677711-52d9b154-980f-11e8-9f5c-cd70f8c3e247.png)

[2018-10-08 12:56] SoYoung210 opened #134 "using 'Component' instead of 'PureComponent'"
https://github.com/andrewngu/sound-redux/blob/4d857b4bee061e2c90117a8ee5e59ce2769d4baf/client/src/components/Slider.jsx#L22

I think that usually `PureComponent` is much better than just `Component` in rendering performance when don't customize `shouldComponentUpdate`.

[2018-11-16 08:16] #23 closed

[2018-11-16 08:17] #24 closed

[2019-02-21 06:08] Craig-Cheng commented on #132
i have the same problem

[2019-10-08 09:12] #132 closed

[2020-04-19 07:27] krishna724 opened #157 "npm run start is not working"
![Screen Shot 2020-04-19 at 12 56 26 PM](https://user-images.githubusercontent.com/20969631/79682101-4de9b800-823d-11ea-8eeb-8f304fabad85.png)

[2020-05-26 16:39] hamswaldenkv commented on #157
Hi project is outdated you may solve it by updating package.json dependancies et webpack config files

[2020-05-28 03:43] krishna724 commented on #157
Okay. thank you. I will do that.

On Tue, May 26, 2020 at 10:09 PM Hams Walden <notifications@github.com>
wrote:

[2020-06-07 10:50] Rishabh1208 opened #159 "Using deprecated lifecycle methods"
Hi,
First of all, It is a great project,
I highly appreciate your efforts in building such a good application. I am learning a lot from this.
I am not sure whether it might be an issue or not.
I wanna ask, is it still safe if we use deprecated lifecycle methods?
we are using lifecycle methods such as componentWillMount and componentWillReceiveProps still
in the code.
Is it possible if we switch to

[2020-07-02 14:54] robertfree commented on #157
How can i change package.json?

[2020-11-01 09:36] #98 closed

[2021-03-29 12:27] Assad2595 commented on #159
Hi , Demo is amazing . I download the code from repo and follow the instructions to run it but there is a lot of version issues and warning . I failed to run it . Can you help me how I can run this project.

[2021-03-29 12:35] Assad2595 opened #166 "npm install and npm run start is not working"
I exploring a lot of music player apps and find this one for outstanding according my requirements .

I downloaded the repo and follow the instructions to run it but it give me a lot of warn and versions issues. How I can run this with latest packages. I updates a lot of packages in package.json but it doesn't work. Any one have this app with latest version or package.json file , If yes then share

[2021-12-10 20:02] mriiad commented on #166
Change webpack version in package.json
    "webpack": "^3.0.0",
    "webpack-cli": "2.0.13",
    "webpack-config-utils": "2.0.0",
    "webpack-dev-server": "^2.7.1",
    "webpack-validator": "2.2.7"